shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false

# Hoist React Native related packages
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*metro*
